#product-form-container {
  display: flex;
  justify-content: center;
  align-items: center;  /* Center the form vertically */
  margin: 2rem auto;
  max-width: 90rem;

  form {
    background: #fff;
    border-radius: 0.2rem;
    padding: 2rem;
    width: 45rem;
    display: flex;        /* Change to flex */
    flex-direction: column; /* Stack items in a column */
    align-items: flex-start; /* Align items to the start */
  
    h1 {
      font-size: 1.2rem;
      margin-bottom: 2rem;
      text-align: center; /* Center the title */
    }

    label {
      display: block;
      font-size: 1rem;
      font-weight: bold;
      color: #222;
      margin-bottom: 0.5rem;
    }

    input,
    select,
    textarea {
      width: 100%; /* Full width for input, select, and textarea */
      padding: 0.8rem;
      font-size: 1rem;
      border: 1px solid #ddd;
      border-radius: 4px;
      color: #333;  /* Make text readable */
      margin-bottom: 1rem; /* Add some space between form elements */

      &:focus {
        outline: none;
        border-color: #f0742c;
      }
    }

    textarea {
      min-height: 8rem; /* Set a minimum height for the textarea */
      resize: vertical; /* Allow the textarea to be resized vertically */
    }

    button {
      background: #f0742c;
      color: #fff;
      font-size: 1rem;
      font-weight: bold;
      padding: 0.8rem;
      border: none;
      border-radius: 2px;
      cursor: pointer;
      transition: background 0.3s;
      margin-top: 1.5rem;
      width: 100%;  
  
      &:hover {
        background: #e6e6e6;
      }
    }
  }
}
