#product-form-container {
  display: flex;
  justify-content: center;
  align-items: center; 
  margin: 2rem auto;
  max-width: 90rem;

  form {
    background: #fff;
    border-radius: 0.2rem;
    padding: 2rem;
    width: 45rem;
    display: flex; 
    flex-direction: column; 
    align-items: flex-start; 
  
    h1 {
      font-size: 1.2rem;
      margin-bottom: 2rem;
      text-align: center;
    }

    label {
      display: block;
      font-size: 1rem;
      font-weight: bold;
      color: #222;
      margin-bottom: 0.5rem;
    }

    input,
    select,
    textarea {
      width: 100%; 
      padding: 0.8rem;
      font-size: 1rem;
      border: 1px solid #ddd;
      border-radius: 4px;
      color: #333; 
      margin-bottom: 1rem;

      &:focus {
        outline: none;
        border-color: #f0742c;
      }
    }

    textarea {
      min-height: 8rem; 
      resize: vertical;
    }

    button {
      background: #f0742c;
      color: #fff;
      font-size: 1rem;
      font-weight: bold;
      padding: 0.8rem;
      border: none;
      border-radius: 2px;
      cursor: pointer;
      transition: background 0.3s;
      margin-top: 1.5rem;
      width: 100%;  
  
      &:hover {
        background: #e6e6e6;
      }
    }
  }
}
