.sidebar {
    width: 18%;
    height: 100vh;
    background-color: #ecf0f1;
    display: flex;
    flex-direction: column;
    padding: 20px;
    position: fixed; 
    top: 0;
    left: 0;

    .logo-container {
        margin: 1rem;
        margin-bottom: 2rem;

        img {
            height: 4rem;
        }
    }
  
    .sidebar-menu {
        list-style: none;
        padding: 0;
        margin: 0;
  
        .sidebar-item {
            margin-bottom: 15px;
  
            a {
                display: flex;
                align-items: center;
                text-decoration: none;
                color: #bdc3c7; 
                font-size: 18px;
                padding: 10px 15px;
                border-radius: 2px;
                transition: all 0.3s;
  
                &:hover {
                    background-color: #f0742c; 
                    color: #ecf0f1;
                }
                &:focus,
                &:active  {
                    background-color: #f0742c; 
                    color: #ecf0f1;
                }
                .icon {
                    color: #bdc3c7;
                    font-size: 1rem;
                    margin-right: 10px;

                    &:hover {
                        color: #fff;
                    }
                }

                .submenu {

                    .submenu-item {
                            a { 
                                text-decoration: none;
                                font-size: 25rem;
                                color: red;
                            }
                        
                    }
                }
            }
  
            &.active a {
                background-color: #e74c3c; 
                color: #fff; 
            }

            
        }
    }
  
    @media (max-width: 1024px) { 
        width: 10rem; 
    
        .sidebar-menu .sidebar-item a {
          font-size: 16px;
          padding: 8px 12px;
    
          .icon {
            font-size: 18px;
            margin-right: 8px;
          }
        }
      }
    
      @media (max-width: 768px) {
        width: 100%; 
        height: auto;
        position: fixed;
        top: 0;
        left: 0;
        background-color: #ecf0f1;
        padding: 1rem 0;
    
        .logo-container {
          margin-bottom: 1rem;
          display: flex;
          justify-content: center; 
          align-items: center;
    
          img {
            height: 3rem;
          }
        }
    
        .sidebar-menu {
          display: flex;
          flex-direction: row;
          align-items: center;
    
          .sidebar-item {
            margin: 5px 0;
    
            a {
              font-size: 16px;
              padding: 8px 12px;
              text-align: center;
    
              .icon {
                font-size: 1.2rem;
                margin-right: 0; 
              }
            }
          }
        }
      }
    }