#product-list {
    padding: 20px;
}

.product-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 1rem;
}

.product-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1rem;
    background-color: #fff;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    display: flex;
    flex-direction: column;
    text-decoration: none;


    .product-image {
        width: 100%; 
        height: 13rem;
        border-bottom: 1px solid #ddd;
        margin-bottom: 10px;
        object-fit: cover;
    }

    .product-name {
        font-size: 1.2rem;
        color: #333;
        margin: 10px 0 5px;
        height: 3rem;
    }

    .description-container{
        margin: 5px 0;
        height: 3rem;
        overflow: hidden;

        .product-description {
            font-size: 0.9rem;
            color: #666;
            
        }
    }
    

    .bottom-section {
        display: flex; 
        align-items: center; 
        margin-top: 1rem;
        justify-content: space-between;
    
        .product-price {
            font-size: 1.3rem;
            font-weight: bold;
            color: #e53935; 
            margin: 0;
        }
    
        
    
        .icon {
            color: #c0bcbc; 
            font-size: 1.5rem; 
            cursor: pointer;
            transition: transform 0.2s ease;
    
            &:hover {
                transform: scale(1.2); 
            }
        }
    
        .icon-sale {
            color: tomato; 
            font-size: 1.5rem; 
            cursor: default; 
            justify-self: flex-start;
        }
    }

    .button-more {
        background-color: #ff5500; 
        color: white;
        border: none;
        border-radius: 4px;
        padding: 6px 12px;
        font-size: 0.9rem;
        cursor: pointer;
        transition: background-color 0.3s ease;
        margin-top: 0.5rem;
        &:hover {
            background-color: #ff9b10;
        }
    }
    
}

#filter-sort-controls {
    display: flex;
    gap: 1rem;
    margin-top: 3rem;
    margin-left: 3rem;

    select {
        padding: 10px;
        font-size: 1rem;
        border: 1px solid #ddd;
        border-radius: 5px;
        background-color: #fff;
        cursor: pointer;

    }
}
